body {
	padding-top: 70px;
	padding-bottom: 40px;
	background: url(../media/footer_lodyas.png) repeat 0 0;
	font-family: 'Fjord One', serif;
}

P {
	line-height: 1.7em;
}

@media (max-width: 767px) {
	.sidebar {
		margin-top: 5px;
	}
}

.tags-list {
	padding: 0 5% 0 5%;
}

.large-text {
	font-size: 1.2em;
}

.tags {
	list-style: none;
	padding: 0;
}

.tag {
	display: inline-block;
	background: #78cbff;
	-webkit-transition: all .2 ease-in-out;
		-moz-transition: all .2 ease-in-out;
			transition: all .2s ease-in-out;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
			border-radius: 5px;
	margin: .3em .2em;
	padding: .1em .3em 0 .3em;
}

.tag span {
	padding-right: .5em;
	vertical-align: text-top;
}

@media (min-width: 768px) {
	.tag:hover {
		-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
				transform: scale(1.1);
		color: #78cbff;
		background: #000000;
	}

	.taglink:hover {
		color: #78cbff !important;
	}
}

.taglink {
	-webkit-transition: all .2 ease-in-out;
		-moz-transition: all .2 ease-in-out;
			transition: all .2s ease-in-out;
}

.taglink, .taglink:hover, .taglink:visited {
	text-decoration: none;
	color: #000000;
}

.posts-by-tag {
	padding: 0 5%;
}

.posts-by-tag ul {
	padding: 0 5%;
}

.page {
	background-color: #ffe;
	padding: 0 10%;
	-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
			border-radius: 15px;
}

.projects {
	padding: 10px 10px 0 10px;
}

.project {

}

.project-title {
	font-size: 1.1;
	font-family: 'Amaranth', sans-serif;
}

.description > a > img, .description > img {
	float: left;
	margin-right: 10px;
}

.description > a > img {
	max-width: 39px;
	max-height: 32px;
}

.description > img {
	max-width: 40%;
}

.posts {
}

.post-img {
	max-width: 40%;
	float: left;
	margin-right: 10px;
}

.post {
	padding-left: 5px;
}

.post > table {
	display: inline;
	border: 0px;
}

.post-title {
	margin-top: 0;
	font-family: 'Amaranth', sans-serif;
	color: #000;
}

.post-title  > h2, .post-title > h1 {
	text-decoration: none;
	display: inline;
}

.post-subtitle {
	display: inline;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

/* Related posts */
.related {
	border-top: 1px solid #eee;
}

.related > h2 {
	margin-top: 10px;
}

.related-posts {
	padding-left: 0;
	list-style: none;
}

.related-posts h3 {
	margin-top: 0;
}

.related-posts li small {
	font-size: 75%;
	color: #999999;
}

.related-posts li a {
	color: #000000;
}

.related-posts li a:hover {
	color: #000000;
}

.related-posts li a:hover small {
	color: #999999;
}

.footer {
	background: url(../media/pw_pattern.png) repeat 0 0;
	-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
			border-radius: 15px;
	font-size: .7em;
	margin-top: 15px;
	padding: 10px;
}

@media (min-width: 1230px) {
	.footer-left {
		margin-left: auto;
		margin-right: auto;
		float: left;
	}

	.footer-right {
		margin-left: auto;
		margin-right: auto;
		float: right;
	}
}

@media (max-width: 1229px) {
	.footer-right {
		margin-top: 10px;
	}
}

.footer-right p {
	margin-bottom: 0;
}

@media(min-width: 713px) {
	#social {
		margin-left: auto;
		margin-right: auto;
		width: 105px;
		height: 32px
	}
}

.text-center {
	text-align: center;
}

.content > .page > .posts > hr {
	margin: 30px 0;
}

.navbar {
	background: url(../media/pw_pattern.png) repeat 0 0;
	color: #444444;
}

.navbar-brand {
	color: #444444 !important;
	font-weight: bold;
}

.navbar-brand:hover {
	color: #222222 !important;
}

.nav > li > a {
	color: #444444 !important;
}

.nav > li > a:hover {
	color: #222222 !important;
}

.sprite {
    background-image: url(../media/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-github-32 {
    width: 32px;
    height: 32px;
    background-position: -2px -2px;
}

.sprite-linkedin-32 {
    width: 32px;
    height: 32px;
    background-position: -38px -2px;
}

.sprite-twitter-32 {
    width: 32px;
    height: 28px;
    background-position: -2px -38px;
}

@media(max-width: 250px) {
	.sprite-twitter-32 {
		margin: 2px auto 0 auto;
		display: block;
	}
}

#comments {
	margin: 0 5%;	
}

.comment {
	background-color: inherit;
	border-color: #CACACA;
	border-style: solid;
	border-width: 1px;
	color: black;
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 0px;
	width: 100%;
}

.comment .commentheader {
	border-bottom-color: #CACACA;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: black;
	background-image: -webkit-linear-gradient(#F8F8F8,#E1E1E1);
	background-image: -moz-linear-gradient(#F8F8F8,#E1E1E1);
	color: black;
	display: block;
	float: left;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 33px;
	line-height: 33px;
	margin: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0px;
	text-overflow: ellipsis;
	text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;
	white-space: nowrap;
	width: 100%;
}

.comment .commentheader .commentgravatar {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: white;
	background-image: none;
	background-origin: padding-box;
	border-color: #C8C8C8;
	border-style: solid;
	border-width: 1px;
	color: black;
	display: inline-block;
	float: none;
	font-size: 1px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 20px;
	line-height: 1px;
	margin-left: 5px;
	margin-right: 3px;
	margin-top: -2px;
	overflow-x: visible;
	overflow-y: visible;
	padding: 1px;
	text-overflow: clip;
	text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;
	vertical-align: middle;
	white-space: nowrap;
	width: 20px;
}

.comment .commentheader a:link {
	text-decoration: none;
}

.comment .commentheader a:hover {
	border-bottom:1px solid;
}


.comment .commentheader .commentuser {
	background-color: transparent;
	color: black;
	display: inline;
	float: none;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 0px;
	line-height: 16px;
	margin-left: 5px;
	margin-right: 10px;
	overflow-x: visible;
	overflow-y: visible;
	padding: 0px;
	text-overflow: clip;
	text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;
	white-space: nowrap;
	width: 0px;
}

.comment .commentheader .commentdate {
	background-color: transparent;
	color: #777;
	display: inline;
	float: none;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 0px;
	line-height: 33px;
	margin: 0px;
	overflow-x: visible;
	overflow-y: visible;
	padding: 0px;
	text-overflow: clip;
	text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;
	white-space: nowrap;
	width: 20em;
}

.comment .commentbody {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: inherit;
	background-image: none;
	background-origin: padding-box;
	color: #333;
	display: block;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 40px;
	overflow-x: visible;
	overflow-y: visible;
	padding: 0em;
	position: static;
	width: 96%;
	word-wrap: break-word;
}

.comment .commentbody p {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	margin-left: 0em;
	margin-right: 0em;
}

.comment .commentbody pre {
	border: 0px solid #ddd;
	background-color: #eef;
	padding: 0 .4em;
}

.comment .commentbody pre code {
	border: 0px solid #ddd;
}

.comment .commentbody code {
	border: 1px solid #ddd;
	background-color: #eef;
	font-size: 85%;
	padding: 0 .2em;
}

.pagination {
	margin: 0 auto;
	display: table;
}

.emoji {
	vertical-align: top;
	width: 16px;
	height: auto;
}

.content-image {
	margin: 15px auto 0;
	max-width: 75%;
	display: block;
}

.content-image-description {
	text-align: center;
	text-indent: 0 !important;
	font-size: .8em;
	font-weight: bold;
}

.anchor:target {
	padding-top: 55px;
}

.next-post {
	text-indent: 0;
	float: right;
}

.series-nav {
	padding: 0 15% 0 15%;
}
