body {
	padding-top: 70px;
	padding-bottom: 40px;
	background: url(../media/footer_lodyas.png) repeat 0 0;
}

.page {
	background-color: #eee;
	padding-bottom: 5px;
	-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
			border-radius: 15px;
}

.projects {
	padding: 10px 10px 0 10px;
}

.project {

}

.project img {

}

.description {

}

.posts {
	
}

.post {
	padding-left: 5px;
}

.post-title  > a{
	color: #000;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a {
	color: #000;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}

.footer {
	background: url(../media/pw_pattern.png) repeat 0 0;
	margin: 15px auto 0 auto;
	padding: 10px 5px 10px 5px;
	-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
			border-radius: 15px;
	width: 270px;
}

.footer-left {
	margin-left: auto;
	margin-right: auto;
	float: left;
	font-size: .6em;
}

.footer-right {
	margin-left: auto;
	margin-right: auto;
	float: right;
	font-size: .6em;
}

#social {
	margin-left: auto;
	margin-right: auto;
	width: 105px;
	height: 32px
}

.text-center {
	text-align: center;
}

.content {
	background: url(../media/cream_pixels_@2X.png) repeat 0 0;
    -webkit-border-radius: 15px;
		-moz-border-radius: 15px;
			border-radius: 15px;
}
.content {
	padding: 1px 16px 16px 16px;
}

.content > .page > .posts > hr {
	margin: 30px 0;
}

.navbar {
	background: url(../media/pw_pattern.png) repeat 0 0;
	color: #444444;
}

.navbar-brand {
	color: #444444 !important;
}

.navbar-brand:hover {
	color: #222222 !important;
}

.nav > li > a {
	color: #444444 !important;
}

.nav > li > a:hover {
	color: #222222 !important;
}

.sprite {
    background-image: url(../media/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-github-32 {
    width: 32px;
    height: 32px;
    background-position: -2px -2px;
}

.sprite-linkedin-32 {
    width: 32px;
    height: 32px;
    background-position: -38px -2px;
}

.sprite-twitter-32 {
    width: 32px;
    height: 28px;
    background-position: -2px -38px;
}

