---
layout: blogpage
title: print('James Wolff')
---
<div class="posts">
	{% for post in site.posts %}
		<div class="post">
			<div id="{{ post.title }}">
				<h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<span class="post-date">{{ post.date | date_to_long_string }}</span>
				<p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}...</p>
				<a class="btn btn-sm btn-success" href="{{ post.url }}">Full Post</a>
			</div>
		</div>
		{% if forloop.index < forloop.length %}
			<hr>
		{% endif %}
	{% endfor %}
</div>

