---
layout: page
title: print('James Wolff')
---
<script>
	$(function() {
		$('.big-excerpt').collapser({ 
			mode: 'lines',
			truncate: 2,
			ellipsis: '',
			controlBtn: 'btn btn-sm btn-primary',
			showText: 'Show More',
			hideText: 'Show Less'
		});
	});
</script>
<div class="posts">
	{% for post in site.posts %}
		<div class="post">
			<div id="{{ post.title }}">
				<h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
			
				<span class="post-date">{{ post.date | date_to_string }}</span>
				<span class="big-excerpt">
					{% assign wordCount = post.content | number_of_words %}
					{% if wordCount <= 200 %}
						{{ post.content | strip_html | markdownify }}
					{% else %}
						{{ post.content | strip_html | truncatewords:200 | markdownify }}
					{% endif %}
				</span>
				<a class="btn btn-sm btn-success" href="{{ post.url }}">Full Post</a>
			</div>
		</div>
		{% if forloop.index < forloop.length %}
			<hr>
		{% endif %}
	{% endfor %}
</div>

