---
layout: blogpage
title: print(author.rambles())
---
<div class="posts">
	{% for post in paginator.posts %}
		<div class="post">
			<div id="{{ post.title }}">
				<h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<span class="post-date">{{ post.date | date_to_long_string }}</span>
				<p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}...</p>
				<a class="btn btn-sm btn-success" href="{{ post.url }}">Full Post</a>
			</div>
		</div>
		{% if forloop.index < forloop.length %}
			<hr>
		{% endif %}
	{% endfor %}
	
	<!-- Pagination links -->
	<div class="pagination btn-group">
		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}" class="previous btn btn-default">Previous</a>
		{% else %}
			<span class="previous btn btn-default">Previous</span>
		{% endif %}

		<span class="page_number btn btn-default">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}" class="next btn btn-default">Next</a>
		{% else %}
			<span class="next btn btn-default">Next</span>
		{% endif %}
	</div>
</div>

