<head>
	<meta charset="utf-8" />
	<title>{{ page.title }}</title>
	<meta name="description" content="Personal site for James Wolff" />
	<meta name="author" content />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="shortcut icon" href="{{ site.url }}/media/favicon.ico" type="image/png" />
	<link rel="icon" href="{{ site.url }}/media/favicon.ico" type="image/png" />
	<link href="https://fonts.googleapis.com/css?family=Fjord+One|Amaranth" rel="stylesheet"> 
	<link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.url }}/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="{{ site.url }}/css/common.css" rel="stylesheet">
</head>
