<div class="page">
	{% assign drafts = "" | split:"|" %}
	{% for post in site.posts %}
		{% for tag in post.tags %}
			{% if tag == "draft" %}
				{% assign drafts = drafts | push:post.title %}
			{% endif %}
		{% endfor %}
	{% endfor %}
	{% if drafts.size > 0 %}
		<h4>Coming soon:</h4>
		{% for draft in drafts limit:3 %}
			{{ draft }}
			<br />
		{% endfor %}
	{% endif %}
	{% assign posts = "" | split:"|" %}
	{% for post in site.posts %}
		{% unless post.tags contains "draft" %}
			{% assign posts = posts | push:post %}
		{% endfor %}
	{% endfor %}
	<h4>December</h4>
	{% assign siteYM = site.time | date:"%Y" | append:"-12" %}
	{% for post in posts %}
		{% assign postYM = post.date | date:"%Y-%m" %}
		{% if postYM == siteYM %}
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<br />&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ post.date | date_to_long_string }}</small></a><br />
		{% endif %}
	{% endfor %}
	<h4>November</h4>
	{% assign siteYM = site.time | date:"%Y" | append:"-11" %}
	{% for post in posts %}
		{% assign postYM = post.date | date:"%Y-%m" %}
		{% if postYM == siteYM %}
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<br />&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ post.date | date_to_long_string }}</small></a><br />
		{% endif %}
	{% endfor %}
	<h4>October</h4>
	{% assign siteYM = site.time | date:"%Y" | append:"-10" %}
	{% for post in posts %}
		{% assign postYM = post.date | date:"%Y-%m" %}
		{% if postYM == siteYM %}
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<br />&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ post.date | date_to_long_string }}</small></a><br />
		{% endif %}
	{% endfor %}
	<h4>September</h4>
	{% assign siteYM = site.time | date:"%Y" | append:"-09" %}
	{% for post in posts %}
		{% assign postYM = post.date | date:"%Y-%m" %}
		{% if postYM == siteYM %}
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<br />&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ post.date | date_to_long_string }}</small></a><br />
		{% endif %}
	{% endfor %}
	<h4>August</h4>
	{% assign siteYM = site.time | date:"%Y" | append:"-08" %}
	{% for post in posts %}
		{% assign postYM = post.date | date:"%Y-%m" %}
		{% if postYM == siteYM %}
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<br />&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ post.date | date_to_long_string }}</small></a><br />
		{% endif %}
	{% endfor %}
	<h4>July</h4>
	{% assign siteYM = site.time | date:"%Y" | append:"-07" %}
	{% for post in posts %}
		{% assign postYM = post.date | date:"%Y-%m" %}
		{% if postYM == siteYM %}
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<br />&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ post.date | date_to_long_string }}</small></a><br />
		{% endif %}
	{% endfor %}
	<h4>June</h4>
	{% assign siteYM = site.time | date:"%Y" | append:"-06" %}
	{% for post in posts %}
		{% assign postYM = post.date | date:"%Y-%m" %}
		{% if postYM == siteYM %}
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<br />&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ post.date | date_to_long_string }}</small></a><br />
		{% endif %}
	{% endfor %}
	<h4>May</h4>
	{% assign siteYM = site.time | date:"%Y" | append:"-05" %}
	{% for post in posts %}
		{% assign postYM = post.date | date:"%Y-%m" %}
		{% if postYM == siteYM %}
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<br />&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ post.date | date_to_long_string }}</small></a><br />
		{% endif %}
	{% endfor %}
	<h4>April</h4>
	{% assign siteYM = site.time | date:"%Y" | append:"-04" %}
	{% for post in posts %}
		{% assign postYM = post.date | date:"%Y-%m" %}
		{% if postYM == siteYM %}
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<br />&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ post.date | date_to_long_string }}</small></a><br />
		{% endif %}
	{% endfor %}
	<h4>March</h4>
	{% assign siteYM = site.time | date:"%Y" | append:"-03" %}
	{% for post in posts %}
		{% assign postYM = post.date | date:"%Y-%m" %}
		{% if postYM == siteYM %}
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<br />&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ post.date | date_to_long_string }}</small></a><br />
		{% endif %}
	{% endfor %}
	<h4>February</h4>
	{% assign siteYM = site.time | date:"%Y" | append:"-02" %}
	{% for post in posts %}
		{% assign postYM = post.date | date:"%Y-%m" %}
		{% if postYM == siteYM %}
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<br />&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ post.date | date_to_long_string }}</small></a><br />
		{% endif %}
	{% endfor %}
	<h4>January</h4>
	{% assign siteYM = site.time | date:"%Y" | append:"-01" %}
	{% for post in posts %}
		{% assign postYM = post.date | date:"%Y-%m" %}
		{% if postYM == siteYM %}
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<br />&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ post.date | date_to_long_string }}</small></a><br />
		{% endif %}
	{% endfor %}
</div>
