---
layout: blogpage
---
<div class="post">
	<div class="post-title">
		<h1>{{ page.title }}{% if page.subtitle %}:</h1> <h2 class="post-subtitle">{{ page.subtitle }}</h2>{% endif %}
	</div>
	<span class="post-date">{{ page.date | date_to_long_string }}</span>
	{% if page.contentImage %}
		<img class="post-img" src="{{ site.baseurl }}/{{ page.contentImage }}" />
	{% endif %}
	{{ content }}
	<ul class="tags">
		{% for tag in page.tags %}
			<li class="tag"><a class="taglink" href="{{ site.url }}/tags#{{ tag | slugify }}"><span class="glyphicon glyphicon-tag"></span>{{ tag }}</a></li>
		{% endfor %}
	</ul>
</div>
{% if site.related_posts.size > 0 %}
	<div class="related">
		<h2>Related Posts</h2>
		<ul class="related-posts">
			{% for post in site.related_posts limit:3 %}
				<li>
					<h3>
						<a href="{{ site.baseurl }}{{ post.url }}">
							{{ post.title }}
							<small>{{ post.date | date_to_string }}</small>
						</a>
					</h3>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
<h2>Comments</h2>
<h4>Want to leave a comment? Visit <a href="https://github.com/jwolff52/wolffblog/issues/{{ page.commentIssueId }}">this post's issue page on GitHub</a>! You will need a GitHub account.</h4>
<div id="comments">
</div>
<!-- This is real hack-ish, but oh well. -->
<script>
	var script   = document.createElement("script");
    	script.src   = "{{ site.baseurl }}/js/date.js";
    	document.body.appendChild(script);
	
	document.addEventListener("DOMContentLoaded", function (event) {
		function loadComments(data) {
			for (var i=0; i<data.length; i++) {
				var cuser = data[i].user.login;
				var cuserlink = "https://www.github.com/" + data[i].user.login;
				var clink = data[i].html_url;
				var cbody = data[i].body_html;
				var cavatarlink = data[i].user.avatar_url;
				//var cdate = Date.parse(data[i].created_at).toString("yyyy-MM-dd HH:mm:ss");

				$("#comments").append("<div class='comment'><div class='commentheader'><div class='commentgravatar'>" + '<img src="' + cavatarlink + '" alt="" width="20" height="20">' + "</div><a class='commentuser' href=\""+ cuserlink + "\">" + cuser + "</a> <a class='commentdate' href=\"" + clink + "\">Comment " + (i + 1) + "</a></div><div class='commentbody'>" + cbody + "</div></div>");
			}
		}

		$.ajax("https://api.github.com/repos/jwolff52/wolffblog/issues/{{ page.commentIssueId }}/comments", {
			headers: {Accept: "application/vnd.github.v3.html+json"},
			success: function(msg){
				loadComments(msg);
			}
		});
	});
</script>
